[defaults]
inventory = /root/ai-inference-platform/inventory/hosts
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = /root/ai-inference-platform/roles
remote_user = root
forks = 10
stdout_callback = default

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
